{% extends "base.html" %}
{% load widget_tweaks %}



{% block title %}Register | Electrical Q&A{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h2 class="mb-4">Register</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username|add_class:"form-control" }}
        {{ form.username.errors }}
      </div>
      <div class="mb-3">
        {{ form.password1.label_tag }}
        {{ form.password1|add_class:"form-control" }}
        {{ form.password1.errors }}
      </div>
      <div class="mb-3">
        {{ form.password2.label_tag }}
        {{ form.password2|add_class:"form-control" }}
        {{ form.password2.errors }}
      </div>
      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </div>
</div>
{% endblock %}
